html
  head
    title Order Confirmation
    style
      include confirm_order.css
  body
    h1 Thanks for ordering at Cluck Cluck Company! Your order will arrive in 3-5 business days. Have a great day! :)
    div(class='wrapper')
      a(href='/customer') Continue Shopping
      p
      a(href='/') Return to Home
