html
  head
    title homepage
    style
      include homepage.css
  body
    h3 WELCOME TO
    h1 CLUCK CLUCK COMPANY
    div(class='wrapper')
        a(class='button' href='/owner') Owner
        p
        a(class='button' href='/customer') Customer
