body {
  background: url('chicken.jpg') no-repeat center center fixed;
  background-size: cover;
}

h3 {
  position: center;
  border-radius: 25px;
  border: 0px solid #892f16;
  padding: 20px;
  width: 900px;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  text-align: center;
  color: #f3e6dd;
  font-family: "Verdana", Verdana, sans-serif;
  font-size: 30px;
  transform: scale(1.5, 1.5);
}

h1 {
  position: center;
  border-radius: 25px;
  border: 3px solid #892f16;
  background-color: #f3e6dd;
  padding: 20px;
  width: 900px;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #892f16;
  font-family: "Courier New", Courier, monospace;
  font-size: 70px;
}

a:link, a:visited {
  border-radius: 25px;
  background-color: #f3e6dd;
  color: #892f16;
  padding: 30px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #f0ead6;
}

.wrapper {
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 20%;
  font-size: 50px;
  width: 50%;
}
