html
  head
    title rEGGquester
  body
    form(action = "/", method = POST)
      div
        label(for = "henName") Hen's Name:
        input(name = "henName")
      br
      div
        label(for = "eggNumber") Number of Eggs:
        input(name = "eggNumber")
      br
      button(type = "submit") rEGGquest
